* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Ubuntu;
}
.redessociastopo {
  height: 35px;
  background-color: #363636;
}
.icon-top {
  text-align: left;
}
.icon-top img {
  padding: 5px;
}
.icon-top-facebook {
  background-image: url('assets/facebook.svg');
}
.icon-top-facebook {
  background-image: url('assets/facebook.svg');
}
.icon-top-whatapp {
  background-image: url('assets/whatsapp.svg');
}
.img-link-whatapp {
  background-image: url('https://web.whatsapp.com/');
}
/* .icon-whatapp-fixed {
  position: fixed;
  width: 30px;
  height: 30px;
  right: 40px;
  bottom: 40px;
} */
.flex-container-0 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.navbar-principal {
  font-size: 20px;
  text-align: center;
  margin-top: 25px;
}
.navbar-principal a {
  text-decoration: none;
  color: #1faa79;
  font-weight: bold;
  padding: 15px 20px;
}
.navbar-principal a:hover {
  border-bottom: 2px solid #1faa79;
}
.logo {
  background-color: #1faa79;
  border-radius: 50%;
}
a.logo {
  color: #fff;
}
.search {
  text-align: center;
  margin: 25px;
}
.search input {
  width: 300px;
  height: 35px;
  text-align: center;
  border-radius: 10px;
  border-color: #363636;
  padding: 15px;
}
/* aqui seria o carrossel */

/* index */
.ofertas p {
  text-align: center;
  font-weight: 600;
  font-size: 35px;
  color: #1faa79;
  font-family: 'Ubuntu';
  margin: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.esquerda {
  flex: 20%;
  background-color: #f1f1f1;
}
.navbar-secundaria a {
  display: grid;
  text-decoration: none;
  color: #1faa79;
  padding: 25px;
  font-size: 20px;
  transition: all 0.2s ease-out 0.1s;
}
.navbar-secundaria a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.flex-container-3 {
  flex: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.img-centro div {
  padding: 10px;
}
.img-centro img {
  border-radius: 15px;
}
/* dentro do index */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #bbb;
}
/* dentro do index */
.flex-container div {
  padding: 10px;
}
.img-oferta-index a img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}
/* dentro do index */
.paragrafo-produtos p {
  font-family: 'cursive';
  text-align: center;
  font-size: 70px;
  color: #1faa79;
}
/* dentro do index */
.flex-container-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* dentro do index */
.flex-container-1 div {
  padding: 30px;
}
/* dentro do index */
.img-opcoes-index a img {
  width: 100px;
  height: 100px;
}
/* dentro do index */
.flex-container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1faa79;
  padding: 15px;
}
.flex-container-2 div {
  padding: 10px;
}
.rodape h3 {
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}
.rodape form {
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  padding: 10px;
}
.rodape form input {
  width: 300px;
  height: 35px;
  text-align: center;
  border-radius: 10px;
  border-color: #363636;
}
.button {
  margin-top: 15px;
  width: 500px;
  font-size: 30px;
  color: #fff;
  background-color: #363636;
  text-align: center;
}
.rodape iframe {
  height: 250px;
}
.msg-erro {
  font-size: 15px;
  color: red;
}
